

#bg {
background-repeat: no-repeat;
background-position: center;
display: flex;
background-size: cover;
flex-wrap: wrap;
filter: drop-shadow(2px 4px 6px black);
}

header{
    padding-bottom: 30px;
}

footer {
    color:whitesmoke;
    box-sizing: border-box;
    

}

.checkbox{
    display:flex;
    flex-wrap: wrap;
}

.container{
    max-width: none;
}

.width{
    max-width: 138px;
 }


 .message-body{
     max-width: fit-content;
     color:whitesmoke;
     box-sizing: border-box;
     text-shadow:
         0.07em 0 black,
         0 0.07em black,
         -0.07em 0 black,
         0 -0.07em black;
 
 }

 .message-header{
     background-color: none;
     max-width: 135px;
     display: flex; 
     justify-content: center;
     opacity: .8;
 }

 


.card{
    border-radius: 1.25rem;
    filter: drop-shadow(2px 4px 6px black);
}


.white-text{
    color:whitesmoke;
    box-sizing: border-box;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

}

/* #show_title{
    color: whitesmoke;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
} */







